<!DOCTYPE html>
<html>
{% include 'html_header.html' %}
  <body>
  	
{% include 'html_loginbox.html' %}
	
	<h1>Sanaharjoittelu</h1>
	
{% if session.teacher == 1 %}
	
	<h3>Valitse poistettava sana</h3> </br>
	
	Sana, käännös
	
	<form action="/delete_selected_word" method="POST">
	  <input type="hidden" name="deck_id" value="{{ deck_id }}">
	  </br>
	  <label for="word"></label>
	  <select id="word" name="word_id">
{% for word in words %}
		<option value="{{ word[0] }}">{{ word[1] }}, {{ word[2] }}</option>
{% endfor %}
	  </select>
	  <input type="submit" value= "Poista"></br></br>
{% else %}
	  Älä yritä huijata!!!!</br></br>
{% endif %}
	  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
	</form>
	
</body>
</html>
