<!DOCTYPE html>
<html>
{% include 'html_header.html' %}
  <body>
  	
{% include 'html_loginbox.html' %}
	
	<h1>Sanaharjoittelu</h1>
	
{% if session.teacher == 1 %}
	
	<h3>Poista valittu pakka</h3> </br>
	
	Nimi, vaikeusaste
	
	<form action="/delete_one_deck" method="POST">
	  </br>
	  <label for="deck"></label>
	  <select id="deck" name="deck_id">
{% for deck in decks %}
		<option value="{{ deck[0] }}">{{ deck[1] }}, {{ deck[2] }}</option>
{% endfor %}
	  </select>
	  <input type="submit" value= "Poista pakka"></br></br>
{% else %}
	  Älä yritä huijata!!!!</br></br>
{% endif %}
	  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
	</form>
	
</body>
</html>
