{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/test">Mene testiin</a><br>
</br>
<a href="/new_word">Lisää sanoja testiin</a></br>
</br>
<a href="/logout">Kirjaudu ulos käyttäjältä</a>
{% else %}
<form action="/login" method="POST">
<p>Käyttäjänimi:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<a href="/new_user">Tee uusi käyttäjä</a></br>
</br>
<input type="submit" value="Kirjaudu sisään">
</form>
{% endif %}
