<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  
  <title>Tatun sananharjoittelu</title>
  
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
  <body>
	<h1>Sanaharjoittelu</h1>
	
	<form action="/add_new_estimate" method="POST">
	  <p>Anna palaute</p>
	  <input type="text" name="estimate"></p>
	  <input type="submit" value="Lähetä palaute"></br></br>
	  <a href= "/">Palaa</a></br></br>
	  <a href="/logout">Kirjaudu ulos tästä</a>
	</form>
	
</body>
</html>
