<!DOCTYPE html>
<html>
{% include 'html_header.html' %}
  <body>
  	
{% include 'html_loginbox.html' %}

	<h1>Sanaharjoittelu</h1>
	
{% if error == True and errorcode == 3 %}
	<div class="error_message">Pakka on jo olemassa</div>
{% endif %}
	
{% if session.teacher == 1 %}

	<form action="/add_new_deck" method="POST" onsubmit="return checkdeck(this)">
	  <p> Lisää nimi pakalle </p>
	  <input type="text" name="deck" maxlength="35"></p>
	  <p> Kerro kuinka vaikea tämä pakka on asteikolla 1-5 </p>
	  <label for="difficulty"></label>
	  <select id="difficulty" name="difficulty">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	  </select>
	  </br></br>
	  <input type="submit" value="Lisää pakka"></br></br>
{% else %}
	Älä yritä huijata!!!! </br></br>
{% endif %}
	  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
	</form>



</body>
</html>
