<!DOCTYPE html>
<html>
{% include 'html_header.html' %}
  <body>
  	
{% include 'html_loginbox.html' %}
	
	<h1>Sanaharjoittelu</h1>
	
{% if deck_info | length == 0 %}
	Ei ole olemassa pakkaa missä on sanoja!</br></br>
{% if session.teacher == 1 %}
	<a href= "/new_deck">Tästä voit lisätä uuden pakan</a>
{% endif %}
	
{% else %}
	
	<h3>Valitse pakka</h3>
	
	<table>
	  <tr>
	    <th>Nimi</th>
	    <th>Vaikeusaste</th>
	    <th>Sanojen määrä</th>
	  </tr>
	
{% for deck in deck_info %}
	  <tr>
	    <td><a href= "/test?deck_id={{deck[0]}}">{{ deck[1] }}</a></td> 
	    <td>{{ deck[2] }}</td>
	    <td>{{ deck[3] }}</td>
	  </tr> 
{% endfor %}
	</table>

{% endif %}
	</br></br>
	


</body>
</html>
