<!DOCTYPE html>
<html>
{% include 'html_header.html' %}
  <body>
  	
{% include 'html_loginbox.html' %}
	
	<h1>Sanaharjoittelu</h1>
	
{% if session.teacher == 1 %}

	<h3>Valitse käyttäjä</h3>

	<form action="/student_result" method="POST">
	  <label for="student"></label>
	  <select id="student" name="student_id">
{% for student in users %}
		<option value="{{ student[0] }}">{{ student[1] }}</option>
{% endfor %}
	  </select>
	  </br></br>
	  <input type="submit" value= "Katso tulokset"></br></br>
{% else %}
	  Älä yritä huijata!!!!</br></br>
{% endif %}
	</form>


</body>
</html>
