<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  
  <title>Tatun sananharjoittelu</title>
  
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
  <body>
	<h1>Sanaharjoittelu</h1>
	
	<h3>Valitse pakka</h3>
	
	<form action="/test">
	  <label for="deck"></label>
	  <select id="deck" name="deck_id">
{% for deck in name %}
		<option value="{{ deck[0] }}">{{ deck[1] }}</option>
{% endfor %}
	  </select>
	  <input type="submit" value= "mene testiin valitulla pakalla"></br></br>
	  <a href= "/">Palaa</a></br></br>
	  <a href="/logout">Kirjaudu ulos</a>
	</form>


</body>
</html>
