<!DOCTYPE html>
<html>
{% include 'html_header.html' %}
  <body>
  	
{% include 'html_loginbox.html' %}
	
	<h1>Sanaharjoittelu</h1>

	<form action="/result" method= "POST">
	  <title>Testi</title>
	  <h1>Tervetuloa testiin</h1>
	  <hr>
	  <input type="hidden" name="deck_id" value="{{ deck_id }}">
	  <table>
  	    <tr>
    	      <th>Sana</th>
    	      <th>Käännös</th>
    	    </tr>
    	  
{% for words in word %}
		  <tr>
	  	    <td>{{ words[1] }}</td>
	  	    <td><input type="text" name="translation_{{ words[0] }}" maxlength="35"></td>
	  	  </tr>
	  	
{% endfor %}
	  </table>	  
	  </br>
	  <input type="submit" value= "Lähetä vastaukset"></br></br>
	</form>
	  </br></br>


</body>
</html>
